.wrap{
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1280px;
    height: 189px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.logo{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    width: 334px;
    height: 79px;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    padding-bottom: 40px;
    line-height: 94px;
}
.logo a{
    text-decoration: none;
}
.logo a:hover{
    text-decoration: underline;
}
.ramda{
    display: inline;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-start;
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    padding-right: 0px;
    margin-right: 0px;
}
.js{
    display: inline;
    justify-content: flex-start;
    color: #4BCAFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    padding-left: 0px;
    margin-left: 0px;
}
.top_nav{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    width: 1280px;
    height: 69px;
    top: 119px;
    background: #35444F;
    list-style-type: none;
    margin: 0 auto;
}
.top_nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 100%;
}
.top_nav a{
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.top_nav li{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 69px;
    padding: 0px;
    margin: 0px;
    /*border-right: 1px solid #fff;*/
    border-inline-start: 2px solid white;
}
li#line_end{
    border-inline-end: 2px solid white;
}
.top_nav li:hover{
    text-decoration: underline;
    background-color: #222F3A;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 1280px;
    margin: 0 auto;
}
.left_menu{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 344px;
    height: 400px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
}
.left_menu ul{
    margin: 0px;
    padding: 0px;
}
.left_menu a{
    padding-left: 0px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #495863;
}
.left_menu li{
    text-decoration: none;
    padding:26px;
    border-right: 1px solid #fff;
}
.left_menu li:hover{
    text-decoration: none;
    background-color: #DBDBDB;
    text-align: center;
}
.left_menu li a:hover {
    text-decoration: underline;
    font-size: 27px;
    font-weight: bold;
    color: #000000;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 885px;
    height: 529px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid #000000;
}
.img img{
    justify-content: space-around;
    width: 320px;
    height: 381px;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.0001);
}
.img:hover img{
    transform: scale(1.2);
    transition: transform 1s;
}
.p1{
    width: 885px;
    height: 120px;
    margin-left: 396px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.p2{
    width: 885px;
    height: 109px;
    margin-top: 34px;
    margin-left: 396px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1280px;
    height: 189px;
    margin-top: 54px;
}
.menu_bottom{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    list-style-type: none;
}
.menu_bottom ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    width: 875px;
    height: 100%;
    list-style-type: none;
    margin: 0px;
}
.menu_bottom a {
    padding-right: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
}

.menu_bottom li:hover a{
    color: #3181a6;
    text-decoration: underline;
    text-decoration-color: #3181a6;
}
.copy{
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #010101;
    margin-right: 40px;
}
